@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Pixelify+Sans:wght@600;700&display=swap');

body{
    margin: 0;
    background: #0f1B21;
    font-family: 'Inter', sans-serif;
}

